*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    background: rgb(142,207,249);
    background: radial-gradient(circle, rgba(142,207,249,1) 25%, rgba(63,169,238,1) 75%, rgba(25,145,223,1) 90%) fixed;
}

body{
    width: 900px;
    margin: auto;
}


/* MENU */
header{
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 10px;
    background-color: #C3E6FD;
    box-shadow:  0px 2px 5px 1px black;
}
header > #head{
    background-image: url("/img/head.png");
    
    background-size: contain;

    padding: 5px;
    /* filter: blur(10px); */
}

#head h1{
    font-size: 100px;
    color: white;
    text-align: center;
    filter: blur(0px);
}
header .menu{
    display: flex;
    justify-content: center;
}
header .menu > div {
    margin: 10px 40px;
    
}
header .menu div a{
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* hover menu effect*/
.line {
    width: 0px;
    border-top: 2px solid rgba(25,145,223,1);
    transition: width;
    transition-duration: 2s;
}
div.home:hover .line { 
    width: 100%;
    transition: width;
    transition-duration: 0.1s;
}
div.familia:hover .line { 
    width: 100%;
    transition: width;
    transition-duration: 0.1s;
}
div.escola:hover .line { 
    width: 100%;
    transition: width;
    transition-duration: 0.1s;
}
div.pesquisa:hover .line { 
    width: 100%;
    transition: width;
    transition-duration: 0.1s;
}
.ease {
    transition-timing-function: ease;
}


/* Image section*/
.imagem{
    padding: 10px;
    text-align: justify;
    background-color: #C3E6FD;
    box-shadow:  0px 2px 3px 1px black;
    margin-bottom: 10px;
}
.imagem .capa{
    width: 880px;
    filter: blur(-100px);
}
.imagem .capa img{
    width: 100%;
}


/* Image section*/
section.conteudo{
    display: flex;
    padding: 20px 60px;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: justify;
    background-color: #C3E6FD;
    box-shadow:  0px 2px 3px 1px black;
}
section h2{
    text-align: center;
    padding: 10px;
    text-shadow: 1px 2px 2px rgba(25,145,223,1);
}

li {
    padding: 10px 0px;
}

ul ul{
    padding: 0px 30px;
}


footer{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: justify;
    background-color: #C3E6FD;
    box-shadow:  0px 2px 3px 1px black;
}
footer h6{
    text-align: center;
}




